<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<div class="row" ng-controller="AddAsignatureController">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="background-color:rgb(47, 64, 80);color:white">
            <h5>Administracion de Asignaturas </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-10 b-r">
                    <h1 class="m-t-none m-b">Registrar Asignatura</h1>
                    <hr />
                    <style>
                        .noPadding {
                            padding: 0;
                        }
                    </style>
                    <form role="form">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input ng-model="newAsignature.NombreAsignatura" type="text" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="col-lg-4 noPadding">
                            <div class="form-group">
                                <label>Carga Academica (Creditos)</label>
                                <input ng-model="newAsignature.Creditos" type="number" placeholder="Cantidad de Creditos" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4 noPadding" style="padding:0">
                            <label class="control-label">Tipo de Asignatura</label>
                            <select ng-model="newAsignature.TipoAsignatura" class="form-control m-b" name="account">
                                <option value="0">Laboratorio</option>
                                <option value="1">Teoria</option>
                            </select>
                        </div>
                        <div class="col-lg-4 noPadding">
                            <div class="form-group">
                                <label>Codigo</label>
                                <input ng-model="newAsignature.Codigo" type="tel" placeholder="Télefono" class="form-control">
                            </div>
                        </div>
                        <div>
                            <button ng-click="Registrar()" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Registrar</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
           
        </div>
        <script src="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript">
            $('#DateBirth').datepicker({});
        </script>
