<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<div class="row" ng-controller="PublicacionController">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="background-color:rgb(47, 64, 80);color:white">
            <h5>Publicar </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12 b-r">
                    <h1 class="m-t-none m-b">Publicación de Calificaciones</h1>
                    <hr />
                    <div class="col-lg-12">
                       <div class="col-lg-7">
                           <label>Seleccionar Sección</label>
                           <select id="TandaSelect" class="form-control m-b" name="account">
                           
                               <option disabled selected hidden>Seleccionar Sección</option>
                               <option ng-repeat="sec in TeacherSections" value="{{sec.idSec}}" selected> {{sec.asignatura.nombre}} (Seccion {{sec.seccion}})</option>
                           </select>
                       </div>
                        <div class="col-lg-5">
                            <button type="button" ng-click="set()" class="btn btn-w-m pull-right btn-primary">Mostrar estudiantes</button>
                        </div>
                       
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Foto</th>
                                <th>Calificacion Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in sec">
                                <td  style="vertical-align:middle" width="auto">{{r.idEst}}</td>
                                <td  style="vertical-align:middle" width="auto">{{r.nombreEst}}</td>
                                <td width="auto"><img style="max-width:100px; height:auto" src="{{r.fotoEst}}" class="img-responsive" /></td>
                                <td  style="vertical-align:middle" width="auto">

                                    <input   ng-if="!r.calificado" ng-model="r.Nota" max="100" type="number" placeholder="Calificacion" class="form-control">
                                    <input disabled ng-if="r.calificado" ng-model="r.Nota" max="100" type="number" placeholder="Calificacion" class="form-control">
                                </td>
                                <td style="vertical-align:middle" width="auto">
                                    <a ng-if="!r.calificado"  ng-click="publicar(r)" data-toggle="modal" data-target="#myModal5" style="margin-top:10px" class="btn btn-primary pull-right btn-rounded ng-scope">
                                       Publicar
                                    </a>
                                    <a ng-if="r.calificado" disabled data-toggle="modal" data-target="#myModal5" style="margin-top:10px" class="btn btn-primary pull-right btn-rounded ng-scope">
                                        PUBLICADO
                                    </a>
                                    <!--<a disabled ng-if="inPreseleccion(r)" data-toggle="modal" data-target="#myModal5" style="margin-top:10px" class="btn btn-primary pull-right btn-rounded ng-scope">
                                      Ya esta preseleccionado
                                    </a>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('#DateBirth').datepicker({});
</script>
