<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<div class="row" ng-controller="PeriodDetailsController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Periodo
        </div>
        <div class="panel-body">
            <h1 style="font-weight:400; text-align:center">Periodo {{currperiod.fechaInicio | date:'MMMM'}} - {{currperiod.fechaFin | date:'MMMM'}} del {{currperiod.fechaFin | date:'yyyy'}} </h1>
            <button type="button" ng-click="concluir()" class="btn btn-danger pull-right">Concluir trimestre</button>
            <button type="button" ng-click="concluir()" class="btn btn-warning pull-right">Activar Selecci&oacute;n</button>
            <button type="button" ng-click="concluir()" class="btn btn-info pull-right">Activar Preselecci&oacute;n</button>
            <button type="button" ng-click="concluir()" class="btn btn-primary pull-right">Activar Retiro</button>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="background-color:rgb(47, 64, 80);color:white">
            <h5>Administracion de Periodo</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12 b-r">
                    <h1 class="m-t-none m-b">Creaci&oacute;n de Secciones</h1>
                    <hr />
                    <div class="col-lg-12">
                        <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input type="text" ng-change="fetchAsignaturas()" ng-model="query" placeholder="Ingresar Nombre o Código de la asignatura..." class="form-control"></div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Creditos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in Asignaturas">
                                <td>{{r.id}}</td>
                                <td>{{r.codigo}}</td>
                                <td>{{r.nombre}}</td>
                                <td>{{r.tipo}}</td>
                                <td>{{r.creditos}}</td>
                                <td style="vertical-align:middle" width="auto">
                                    <a ng-click="setAsignature(r)" data-toggle="modal" data-target="#myModal5" style="margin-top:10px" class="btn btn-primary btn-rounded btn-block ng-scope">
                                        Añadir a Oferta
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="background-color:rgb(47, 64, 80);color:white">
            <h5>Administracion de Secciones Inscritas</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12 b-r">
                    <h1 class="m-t-none m-b">Secciones Inscritas para este per&iacute;odo</h1>
                    <hr />
                    <div class="col-lg-12">
                        <input ng-change="fetcha()" ng-model="query3" type="text" placeholder="Ingresar Nombre o Código de la asignatura..." class="form-control">
                        <hr />
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Codigo Asignatura</th>
                                <th>Nombre Asignatura</th>
                                <th>Seccion</th>
                                <th>Profesor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in currperiod.asignaturasRegistradas">
                                <td>{{r.codigoAsignatura}}</td>
                                <td>{{r.nombreAsignatura}}</td>
                                <td>{{r.seccion}}</td>
                                <td>{{r.profesor}}</td>



                                <!--{{r.periodoID}}-->

                                <td style="vertical-align:middle" width="auto">
                                    <a href="#/SectionDetails/{{r.seccionID}}" style="margin-top:10px" class="btn btn-primary btn-rounded btn-block ng-scope">
                                        Detalles
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modals -->
    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Crear Secci&oacute;n de {{currAsignature.nombre}}</h4>
                    <small class="font-bold">Añadir Secci&oacute;n al per&iacute;odo.</small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12" style="padding:0">
                            <label class="control-label">Seleccionar Maestro</label>
                            <select id="teachersSelect" class="form-control m-b chosen-select" name="account"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    <button type="button" data-dismiss="modal" ng-click="inscribirAsig()" class="btn btn-success">Inscribir</button>
                    <button type="button" ng-click="Inscribir()" data-dismiss="modal" class="btn btn-primary">Inscribir e Ir al detalle</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('#DateBirth').datepicker({});
</script>