<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<div class="row" ng-controller="RoomsController">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="background-color:rgb(47, 64, 80);color:white">
            <h5>Administracion de Aulas </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-10 b-r">
                    <h1 class="m-t-none m-b">Registrar Aulas</h1>
                    <hr />
                    <style>
                        .noPadding {
                            padding: 0;
                        }
                    </style>
                    <form role="form">
                        <div class="form-group">
                            <label>Numero de Asientos</label>
                            <input ng-model="newRooms.Asientos" type="number" placeholder="Asientos" class="form-control">
                        </div>
                        <div class="col-lg-8 noPadding">
                            <div class="form-group">
                                <label class="control-label">Seleccione Edificio </label>
                                <select ng-model="newRooms.Building" class="form-control m-b" name="account">
                                    <option value="GC">Osvaldo Garcia de la Concha(GC)</option>
                                    <option value="DP">De Ramon Picazo(DP)</option>
                                    <option value="AJ">Arturo Jimenez (AJ)</option>
                                    <option value="FD">Federico defillo (FD)</option>
                                    <option value="EP">Ercilia Pepin(EP)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 noPadding">
                            <label>Numero del Aula</label>
                            <input ng-model="newRooms.RoomNumber" type="number" placeholder="Numero del Aula" class="form-control">
                        </div>
                        <div>
                            <button ng-if="!editing" ng-click="Registrar()" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Registrar</strong></button>
                            <button ng-if="editing" ng-click="Actualizar()" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Actualizar</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="background-color:rgb(47, 64, 80);color:white">
            <h5>Aulas Registradas</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12 b-r">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Edificio</th>
                                <th>Numero Aulas</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="r in Rooms">
                                <td style="vertical-align:middle" width="auto">{{r.roomsID}}</td>
                                <td style="vertical-align:middle" width="auto">{{r.building}}</td>
                                <td style="vertical-align:middle" width="auto">{{r.roomNumber}}</td>
                                <td style="vertical-align:middle" width="auto">
                                    <a ng-click="set(a)" style="margin-top:10px" class="btn btn-primary btn-rounded btn-block ng-scope">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('#DateBirth').datepicker({});
</script>