<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="../../../Content/js/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<div class="row" ng-controller="PensumsController">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="background-color:rgb(47, 64, 80);color:white">
            <h5>Programa de Asignaturas</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12 b-r">
                    <hr />
                    <div class="col-sm-4 noPadding" style="padding:0">
                        <label class="control-label">Carrera</label>
                        <select id="CarreraSelect" ng-model="newMajor.Area" class="form-control m-b" name="account">
                            <option ng-repeat="area in areas" value="{{area.name}}">{{area.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 pull-right">

                        <a ng-click="fetchPensum()" style="margin-top:10px; vertical-align:central" class="btn  btn-primary btn-rounded btn-block ng-scope">
                            Mostrar
                        </a>
                    </div>

                    <div class="col-sm-12" id="pensumTable" hidden style="padding:0">
                        <hr />
                        <h2>Pensum</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Clave	</th>
                                    <th>Asignatura</th>
                                    <th>CR</th>
                                    <th>Prerrequisito</th>
                                    <th>Req. Cred</th>
                                    <th></th>
                                    <th hidden></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="m in modalPensum">
                                    <td style="vertical-align:middle" width="auto">{{m.clave}}</td>
                                    <td style="vertical-align:middle" width="auto">{{m.asignatura}}</td>
                                    <td style="vertical-align:middle" width="auto">{{m.creditos}}</td>
                                    <td style="vertical-align:middle" width="auto">{{m.area}}</td>
                                    <td style="vertical-align:middle" width="auto">{{m.prereqCreds}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('#DateBirth').datepicker({});
</script>
