<div class="col-lg-12" ng-controller="TeachDashController">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-3">
            <h2>Bienvenido {{sysConf.nombre}}</h2>
        </div>
        <div class="col-sm-3 pull-right">
            <div class="statistic-box">
                <h4>
                    {{sysConf.TipoUsuarioText}}
                </h4>
                <img class="img-responsive" src="{{$parent.sysConf.profilePicturePath}}" />
                <div class="row text-center">
                    <div class="col-lg-6">
                        <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                        <h5>{{sysConf.nombre}} &nbsp;{{sysConf.apellido}}</h5>
                    </div>
                    <div class="col-lg-6">
                        <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                        <h5>{{sysConf.tipousuario}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>